server {
    listen 80;
    server_name ${BERTCAR_BACKEND_OCR_DOMAIN};

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name ${BERTCAR_BACKEND_OCR_DOMAIN};

    ssl_certificate /etc/nginx/certs/origin.crt;
    ssl_certificate_key /etc/nginx/certs/origin.key;

    resolver 127.0.0.11 valid=30s;

    location / {
        client_max_body_size 200M;

        set $upstream ${BERTCAR_BACKEND_OCR_UPSTREAM};
        proxy_pass http://$upstream;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_buffering off;
        proxy_request_buffering off;
        chunked_transfer_encoding on;
    }
}
