# Domínios públicos
CHATBOT_INTEGRACAR_DOMAIN=chatbotintegracar.online
WORKSTATIONS_COLATINA_DOMAIN=workstations.chatbotintegracar.online
GESTAO_PEC_DOMAIN=pec.chatbotintegracar.online
FILES_DOMAIN=arquivos.chatbotintegracar.online

# Upstreams internos na rede Docker "proxy"
CHATBOT_INTEGRACAR_UPSTREAM=chatbot_integracar_nginx:80
WORKSTATIONS_COLATINA_UPSTREAM=workstations-colatina:80
GESTAO_PEC_UPSTREAM=gestao-pec:8000

# Caminho host dos PDFs
PDFS_HOST_PATH=/var/www/documentosCar
