# Domínios públicos
CHATBOT_INTEGRACAR_DOMAIN=chatbotintegracar.online
WORKSTATIONS_COLATINA_DOMAIN=workstations.chatbotintegracar.online
FILES_DOMAIN=arquivos.chatbotintegracar.online

# Upstreams internos na rede Docker "proxy"
CHATBOT_INTEGRACAR_UPSTREAM=chatbot-integracar:8000
WORKSTATIONS_COLATINA_UPSTREAM=workstations-colatina:8000

# Caminho host dos PDFs
PDFS_HOST_PATH=/var/www/documentosCar