# Email do Let's Encrypt
LETSENCRYPT_EMAIL=integracar.col@gmail.com

# Domínios públicos
CHATBOT_INTEGRACAR_DOMAIN=chatbotintegracar.online
CHATBOT_INTEGRACAR_WWW_DOMAIN=www.chatbotintegracar.online
WORKSTATIONS_COLATINA_DOMAIN=workstations.chatbotintegracar.online
FILES_DOMAIN=arquivos.chatbotintegracar.online

# Upstreams internos na rede Docker "proxy"
CHATBOT_INTEGRACAR_UPSTREAM=chatbot_integracar_nginx:80
WORKSTATIONS_COLATINA_UPSTREAM=workstations_colatina_nginx:80

# Caminho host dos PDFs
PDFS_HOST_PATH=/var/www/documentosCar